[Unit]
Description=Gunicorn server for SITENAME

After=network.target network-online.target
Wants=network-online.target

[Service]
Restart=on-failure

User=frank_berghaus
WorkingDirectory=/home/frank_berghaus/sites/SITENAME/source
ExecStart=/home/frank_berghaus/.virtualenvs/virtualenv/bin/gunicorn \
  --bind unix:/tmp/SITENAME.socket \
  superlists.wsgi:application
[Install]
WantedBy=multi-user.target
